site_name: HDX-MS Datasets
site_description: Loading and parsing of HDX-MS datasets and associated metadata
site_url: https://jhsmit.github.io/hdxms-datasets/

repo_url: https://github.com/Jhsmit/hdxms-datasets/
edit_uri: edit/master/docs/


theme:
  name: "material"

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - codehilite
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.nl2br

nav:
  - Overview: index.md
  - install.md
  - Usage:
    - usage/loading.md
  - API Reference: reference/

watch:
  - hdxms_datasets

plugins:
  - search
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            enable_inventory: true
            show_signature_annotations: false
          import:
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://docs.scipy.org/doc/scipy/objects.inv
            - https://pandas.pydata.org/docs/objects.inv
            - https://pola-rs.github.io/polars/py-polars/html/objects.inv
          paths: [hdxms_datasets]

extra_css:
- css/styles.css

extra_javascript:
  - javascript/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js