[build-system]
requires = ["setuptools",]
build-backend = "setuptools.build_meta"

[project]
name = "hdxms-datasets"
description = "Download and parse curated HDX-MS datasets"
readme = "README.md"
license = {file = "LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Intended Audience :: Science/Research",
    "Topic :: Database"
]
dependencies = [
    "omegaconf >= 0.2.3",
    "pandas",
    "pyyaml",
    "requests",
]
dynamic = ["version"]

[project.urls]
repository = "https://github.com/Jhsmit/hdxms_datasets"

[project.optional-dependencies]
docs = [
    "mkdocs", "mkdocstrings[python]>=0.18", "mkdocs-material"
]
dev = [
    "pytest", "build"
]

[tool.setuptools]
packages = ['hdxms_datasets']


[tool.versioneer]
VCS = "git"
style = "pep440-pre"
versionfile_source = "hdxms_datasets/_version.py"
versionfile_build = "hdxms_datasets/_version.py"
tag_prefix = ""

[tool.flake8]
ignore = "D203"
exclude = [".git", "__pycache__", "build", "dist", "docs"]
max-complexity = 10